<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    *ngIf="dish">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
      <h3>Comments</h3>
      <mat-list *ngFor="let item of dish.comments">
        <mat-list-item>
          <h4>{{item.comment}}</h4>
        </mat-list-item>
        <mat-list-item>
          <h5>{{item.rating}} Stars</h5>
        </mat-list-item>
        <mat-list-item>
          <p>-- {{item.author}} {{item.date | date }} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
  </div>

</div>